.toy-auto-complete {
  position: relative;
}
.options-list {
  position: absolute;
  z-index: 100;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  // border: $menu-border-width solid $menu-border-color;
  // box-shadow: $submenu-box-shadow;
  padding-left: 0;
  list-style: none;
  white-space: nowrap;
  background: $white;
  .options-loading-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75px;
  }
  .options-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    color: $body-color;
    &.active {
      background: $menu-item-active-color !important;
      color: $white !important;
    }
    &:hover {
      color: $menu-item-active-color !important;
    }
  }
}
.zoom-in-top-enter-done.options-list {
  border: $menu-border-width solid $menu-border-color;
  box-shadow: $submenu-box-shadow;
}
