@import '../../../styles//index.scss';

.nnn-uploader-dragger {
  background: $gray-100;
  border: 1px dashed $gray-300;
  border-radius: 4px;
  cursor: pointer;
  padding: 20px;
  width: 100px;
  height: 80px;
  text-align: center;
  &:hover {
    border: 1px dashed $primary;
  }
  &.is-dragover {
    border: 2px dashed $primary;
    background: rgba($primary, 0.2);
    .drag-icon {
      color: $primary;
    }
  }

  .default-drag-icon__container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .drag-icon {
      font-size: 16px;
    }
  }
}
